<a href="https://colab.research.google.com/github/sooonsyk/ESAA/blob/main/project_mvm_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/data_from2022.csv')

In [ ]:
data.shape

(113834, 52)

In [ ]:
data.head()

,Unnamed: 0,MBER_SEQ_NO_VALUE,MESURE_SEQ_NO,CNTER_NM,AGRDE_FLAG_NM,MESURE_PLACE_FLAG_NM,MESURE_AGE_CO,INPT_FLAG_NM,CRTFC_FLAG_NM,MESURE_DE,...,MESURE_IEM_033_VALUE,MESURE_IEM_034_VALUE,MESURE_IEM_035_VALUE,MESURE_IEM_036_VALUE,MESURE_IEM_037_VALUE,MESURE_IEM_038_VALUE,MESURE_IEM_039_VALUE,MESURE_IEM_040_VALUE,MESURE_IEM_041_VALUE,MVM_PRSCRPTN_CN
0,241591,AAHjNmlrYmvwWrtwxNZ5omH2,1,창원마산회원,청소년,출장,15.0,관리자,3등급,20220103,...,NaN,NaN,NaN,143.0,41.7,NaN,NaN,NaN,NaN,"준비운동:동적 스트레칭 루틴프로그램,짝 스트레칭 루틴프로그램,걷기 / 본운동:전완..."
1,241592,AAGHmSMjc04KV0IyNNi12b2d,2,중구(서울),성인,일반,63.0,측정기기,3등급,20220103,...,NaN,NaN,NaN,129.0,33.4,NaN,NaN,0.356,NaN,"본운동:달리기,실내 자전거타기,줄넘기,계단 뛰어 오르기"
2,241593,AAF5o3Y0J4zeaYqroA71KhIw,1,KSPO송파(출장B),성인,일반,23.0,관리자,2등급,20220103,...,NaN,NaN,NaN,110.0,46.4,NaN,NaN,0.285,NaN,"본운동:고정식 자전거 타기,스텝박스 오르내리기"
3,241594,AAEwd9bVGOlcR7hmR0bKO7ST,1,강동,성인,일반,63.0,관리자,참가증,20220103,...,NaN,NaN,NaN,115.0,34.4,NaN,NaN,0.357,NaN,"준비운동:유산소 운동 전 동적 루틴 스트레칭 / 본운동:스텝박스 오르내리기 ,계단 ..."
4,241595,AAHARyeNT6BJcLtZDIOVybEU,1,서초,노인,일반,69.0,관리자,3등급,20220103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"준비운동:목 스트레칭,목 돌림 스트레칭,양팔 벌려 전신 비틀기,회전근개 스트레칭,어..."

##라벨 분리

In [ ]:
data_mvm = data['MVM_PRSCRPTN_CN'].dropna(axis=0)

In [ ]:
data_ispre = data_mvm[data_mvm.str.startswith('준')]  #준비운동 포함
data_nopre = data_mvm[data_mvm.str.startswith('준')==False] # 준비운동 포함 안 함

In [ ]:
ispre_nomain = data_ispre.str.split('본운동',expand=True).reset_index(drop=True)[:][0] #마무리운동 포함하고 있을 수도
ispre_ismain = data_ispre.str.split('본운동',expand=True).reset_index(drop=True)[:][1]#본운동 o, 마무리운동 포함하고 있을 수도

In [ ]:
ispre_ismain.isna().sum() #준비 운동만 있는 애들

15999

In [ ]:
ispre_ismain.dropna(axis=0, inplace=True) #준비 운동만 있는 애들 제거

In [ ]:
ispre_ismain.isna().sum()

0

In [ ]:
ispre_nomain_noend = ispre_nomain.str.split('마무리',expand=True).reset_index(drop=True)[:][0] 
ispre_nomain_isend = ispre_nomain.str.split('마무리',expand=True).reset_index(drop=True)[:][1]

In [ ]:
ispre_nomain_isend.isna().sum() #마무리운동 없는 애들

81340

In [ ]:
ispre_nomain_isend.dropna(axis=0, inplace=True) #마무리운동 없는 애들 제거

In [ ]:
ispre_nomain_isend.isna().sum()

0

In [ ]:
ispre_ismain_noend = ispre_ismain.str.split('마무리운동:',expand=True).reset_index(drop=True)[:][0] 
ispre_ismain_isend = ispre_ismain.str.split('마무리운동:',expand=True).reset_index(drop=True)[:][1]

In [ ]:
ispre_ismain_noend.isna().sum()

0

In [ ]:
ispre_ismain_isend.isna().sum()

8835

In [ ]:
ispre_ismain_isend.dropna(axis=0, inplace=True) #마무리운동 없는 경우

In [ ]:
ispre_ismain_isend.isna().sum()

0

In [ ]:
nopre_noend = data_nopre.str.split('마무리운동:',expand=True).reset_index(drop=True)[:][0]
nopre_isend = data_nopre.str.split('마무리운동:',expand=True).reset_index(drop=True)[:][1]

In [ ]:
nopre_noend.isna().sum()

0

In [ ]:
nopre_isend.isna().sum()

16465

In [ ]:
nopre_isend.dropna(axis=0,inplace=True)

In [ ]:
nopre_isend.isna().sum()

0

###준비운동 리스트 만들기

In [ ]:
ispre_nomain_noend = ispre_nomain_noend.str.replace('준비운동:','')
ispre_nomain_noend = ispre_nomain_noend.str.replace(' / ','')

In [ ]:
pre_data = ispre_nomain_noend.str.split(',')

In [ ]:
pre_list = []

for i in range(0,pre_data.shape[0]):
  for j in range(len(pre_data[i])):
    if pre_data[i][j] in pre_list:
      continue
    else:
      pre_list.append(pre_data[i][j])

In [ ]:
len(pre_list)

513

###본운동 만들기

In [ ]:
nopre_noend = nopre_noend.str.replace('본운동:','')
nopre_noend = nopre_noend.str.replace(' / ','')
nopre_noend = nopre_noend.str.split(',')

In [ ]:
ispre_ismain_noend = ispre_ismain_noend.str.replace(':','')
ispre_ismain_noend = ispre_ismain_noend.str.replace(' / ','')
ispre_ismain_noend = ispre_ismain_noend.str.split(',')

In [ ]:
nopre_noend.shape[0] + ispre_ismain_noend.shape[0]

83823

In [ ]:
main_data = pd.concat([nopre_noend, ispre_ismain_noend],axis=0)
main_data.reset_index(drop=True, inplace=True)

main_list = []

for i in range(0,main_data.shape[0]):
  for j in range(len(main_data[i])):
    if main_data[i][j] in main_list:
      continue
    else:
      main_list.append(main_data[i][j])

In [ ]:
len(main_list)

603

###마무리 운동 리스트 만들기

In [ ]:
ispre_nomain_isend = ispre_nomain_isend.str.replace('운동:','')
ispre_nomain_isend = ispre_nomain_isend.str.split(',')

In [ ]:
ispre_ismain_isend = ispre_ismain_isend.str.split(',')

In [ ]:
nopre_isend = nopre_isend.str.split(',')

In [ ]:
ispre_nomain_isend.shape[0] + ispre_ismain_isend.shape[0] + nopre_isend.shape[0]

58685

In [ ]:
end_data = pd.concat([ispre_nomain_isend, ispre_ismain_isend, nopre_isend], axis=0)
end_data.reset_index(drop=True, inplace=True)

end_list = []

for i in range(0,end_data.shape[0]):
  for j in range(len(end_data[i])):
    if end_data[i][j] in end_list:
      continue
    else:
      end_list.append(end_data[i][j])

In [ ]:
len(end_list)

279

##운동별 빈도

In [ ]:
pre_list2 = []

for i in range(0,pre_data.shape[0]):
  for j in range(len(pre_data[i])):
    pre_list2.append(pre_data[i][j])
    
pre_list2 = pd.DataFrame(pre_list2)

In [ ]:
pre_list2[0].value_counts()

동적 스트레칭 루틴프로그램         16836
전신 루틴 스트레칭             16499
유산소 운동 전 동적 루틴 스트레칭    11075
정적 스트레칭  루틴프로그램         8702
걷기                      8521
                       ...
의자 잡고 반복 옆 뛰기              1
대(大)자 점프 뛰기                1
치매를 위한 근력운동                1
서서 다리로 탄력밴드 당기기 II         1
서서 탄력밴드 당겨내리기/올리기          1
Name: 0, Length: 513, dtype: int64

In [ ]:
(pre_list2[0].value_counts()>4000).sum()

10

In [ ]:
main_list2 = []

for i in range(0,main_data.shape[0]):
  for j in range(len(main_data[i])):
    main_list2.append(main_data[i][j])

main_list2 = pd.DataFrame(main_list2)

In [ ]:
main_list2[0].value_counts()

앉았다 일어서기         23274
엎드려 버티기          13792
맨몸운동  루틴프로그램     13236
윗몸올리기            12939
수영               11663
                 ...
유소년테스트               1
탄력밴드 전방으로 당기기        1
밴드 앞으로 당기기           1
탄력밴드 후방으로 당기기        1
무릎 당겨올리기             1
Name: 0, Length: 603, dtype: int64

In [ ]:
(main_list2[0].value_counts()>4000).sum()

36

In [ ]:
end_list2 = []

for i in range(0,end_data.shape[0]):
  for j in range(len(end_data[i])):
    end_list2.append(end_data[i][j])

end_list2 = pd.DataFrame(end_list2)

In [ ]:
(end_list2[0].value_counts()>4000).sum()

8

##칼럼생성

In [ ]:
data.shape

(113834, 52)

In [ ]:
#10개
pre_10000 = pd.DataFrame(pre_list2[0].value_counts()>4000)
pre_10000_list = pre_10000[pre_10000[0]].index
pre_col = pd.DataFrame(index=range(0,data.shape[0]),columns=pre_10000_list)
pre_10000_data = pd.concat([data['MVM_PRSCRPTN_CN'],pre_col],axis=1)
pre_10000_data.shape

(113834, 11)

In [ ]:
#36개
main_10000 = pd.DataFrame(main_list2[0].value_counts()>4000)
main_10000_list = main_10000[main_10000[0]].index
main_col = pd.DataFrame(index=range(0,data.shape[0]),columns=main_10000_list)
main_10000_data = pd.concat([data['MVM_PRSCRPTN_CN'],main_col],axis=1)
main_10000_data.shape

(113834, 37)

In [ ]:
#8개
end_10000 = pd.DataFrame(end_list2[0].value_counts()>4000)
end_10000_list = end_10000[end_10000[0]].index
end_col = pd.DataFrame(index=range(0,data.shape[0]),columns=end_10000_list)
end_10000_data = pd.concat([data['MVM_PRSCRPTN_CN'],end_col],axis=1)
end_10000_data.shape

(113834, 9)

In [ ]:
'''
pre_10000_data.to_csv('/content/drive/MyDrive/Colab Notebooks/pre_data.csv')
main_10000_data.to_csv('/content/drive/MyDrive/Colab Notebooks/main_data.csv')
end_10000_data.to_csv('/content/drive/MyDrive/Colab Notebooks/end_data.csv')
'''

"\npre_10000_data.to_csv('/content/drive/MyDrive/Colab Notebooks/pre_data.csv')\nmain_10000_data.to_csv('/content/drive/MyDrive/Colab Notebooks/main_data.csv')\nend_10000_data.to_csv('/content/drive/MyDrive/Colab Notebooks/end_data.csv')\n"

##운동별 칼럼 채우기

###준비운동

In [ ]:
pre_10000_data['MVM_PRSCRPTN_CN'].isna().sum()

14012

In [ ]:
pre_10000_data['MVM_PRSCRPTN_CN'].fillna('',inplace=True)

In [ ]:
pre_10000_data['MVM_PRSCRPTN_CN'].isna().sum()

0

In [ ]:
pre_10000_data.fillna(0,inplace=True)

In [ ]:
pre_10000_list = pre_10000_data.columns[-10:]
pre_10000_list = pd.Series(pre_10000_list)

In [ ]:
for i in range(0,pre_10000_data.shape[0]): #데이터만큼 반복
  for j in range(0,len(pre_10000_list)): #운동 칼럼 개수별 반복
    if np.str(pre_10000_list[j]) in pre_10000_data.loc[i,'MVM_PRSCRPTN_CN']:
      pre_10000_data.loc[i,pre_10000_list[j]] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

###본운동

In [ ]:
main_10000_data['MVM_PRSCRPTN_CN'].isna().sum()

14012

In [ ]:
main_10000_data['MVM_PRSCRPTN_CN'].fillna('',inplace=True)

In [ ]:
main_10000_data['MVM_PRSCRPTN_CN'].isna().sum()

0

In [ ]:
main_10000_data.fillna(0,inplace=True)

In [ ]:
main_10000_list = main_10000_data.columns[-36:]
main_10000_list = pd.Series(main_10000_list)

In [ ]:
for i in range(0,main_10000_data.shape[0]): #데이터만큼 반복
  for j in range(0,len(main_10000_list)): #운동 칼럼 개수별 반복
    if np.str(main_10000_list[j]) in main_10000_data.loc[i,'MVM_PRSCRPTN_CN']:
      main_10000_data.loc[i,main_10000_list[j]] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

###마무리운동

In [ ]:
end_10000_data['MVM_PRSCRPTN_CN'].isna().sum()

14012

In [ ]:
end_10000_data['MVM_PRSCRPTN_CN'].fillna('',inplace=True)

In [ ]:
end_10000_data['MVM_PRSCRPTN_CN'].isna().sum()

0

In [ ]:
end_10000_data.fillna(0,inplace=True)

In [ ]:
end_10000_list = end_10000_data.columns[-8:]
end_10000_list = pd.Series(end_10000_list)

In [ ]:
for i in range(0,end_10000_data.shape[0]): #데이터만큼 반복
  for j in range(0,len(end_10000_list)): #운동 칼럼 개수별 반복
    if np.str(end_10000_list[j]) in end_10000_data.loc[i,'MVM_PRSCRPTN_CN']:
      end_10000_data.loc[i,end_10000_list[j]] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

##데이터 완성

In [ ]:
pre_10000_data.drop('MVM_PRSCRPTN_CN',axis=1,inplace=True)

KeyError: ignored

In [ ]:
pre_10000_data

,동적 스트레칭 루틴프로그램,전신 루틴 스트레칭,유산소 운동 전 동적 루틴 스트레칭,정적 스트레칭 루틴프로그램,걷기,자가근막이완술 루틴 스트레칭,하지 루틴 스트레칭1,상지 루틴 스트레칭,달리기,목 스트레칭
0,1,0,0,1,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
113829,0,0,0,0,0,0,0,0,0,0
113830,0,0,0,1,1,0,0,0,0,0
113831,0,0,0,0,0,0,0,0,0,0
113832,0,0,0,0,0,0,0,0,0,0
113833,0,0,0,0,0,0,0,0,0,0

In [ ]:
pre_full_data = pd.concat([data, pre_10000_data],axis=1)

In [ ]:
pre_full_data

,Unnamed: 0,MBER_SEQ_NO_VALUE,MESURE_SEQ_NO,CNTER_NM,AGRDE_FLAG_NM,MESURE_PLACE_FLAG_NM,MESURE_AGE_CO,INPT_FLAG_NM,CRTFC_FLAG_NM,MESURE_DE,...,동적 스트레칭 루틴프로그램,전신 루틴 스트레칭,유산소 운동 전 동적 루틴 스트레칭,정적 스트레칭 루틴프로그램,걷기,자가근막이완술 루틴 스트레칭,하지 루틴 스트레칭1,상지 루틴 스트레칭,달리기,목 스트레칭
0,241591,AAHjNmlrYmvwWrtwxNZ5omH2,1,창원마산회원,청소년,출장,15.0,관리자,3등급,20220103,...,1,0,0,1,1,0,0,0,0,0
1,241592,AAGHmSMjc04KV0IyNNi12b2d,2,중구(서울),성인,일반,63.0,측정기기,3등급,20220103,...,0,0,0,0,0,0,0,0,1,0
2,241593,AAF5o3Y0J4zeaYqroA71KhIw,1,KSPO송파(출장B),성인,일반,23.0,관리자,2등급,20220103,...,0,0,0,0,0,0,0,0,0,0
3,241594,AAEwd9bVGOlcR7hmR0bKO7ST,1,강동,성인,일반,63.0,관리자,참가증,20220103,...,0,0,1,0,0,0,0,0,1,0
4,241595,AAHARyeNT6BJcLtZDIOVybEU,1,서초,노인,일반,69.0,관리자,3등급,20220103,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113829,355420,AAHghSQXIdt9+q46NDYVrphI,1,군산,청소년,출장,18.0,관리자,참가증,20220531,...,0,0,0,0,0,0,0,0,0,0
113830,355421,AAHG1sWtEFs81x4qmbr77Wt5,2,계룡,청소년,일반,17.0,관리자,3등급,20220531,...,0,0,0,1,1,0,0,0,0,0
113831,355422,AAFIuE8IkmOimrZTHzLpzuVp,1,무안,성인,출장,21.0,관리자,참가증,20220531,...,0,0,0,0,0,0,0,0,0,0
113832,355423,AAGx8uaeDM8mtkY7o7lUiPz4,1,군산,청소년,출장,18.0,관리자,참가증,20220531,...,0,0,0,0,0,0,0,0,0,0
113833,355424,AAG4fZfof1dAnfXtoaFqaz5i,1,동구(광주),성인,일반,29.0,관리자,3등급,20220531,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
pre_full_data.to_csv('pre_data.csv')

In [ ]:
pre_10000_data.to_csv('pre_mvm_data.csv')

In [ ]:
main_10000_data.drop('MVM_PRSCRPTN_CN',axis=1,inplace=True)
#main_full_data = pd.concat([data, main_10000_data],axis=1)
#main_full_data.to_csv('main_data.csv')
main_10000_data.to_csv('main_mvm_data.csv')

In [ ]:
end_10000_data.drop('MVM_PRSCRPTN_CN',axis=1,inplace=True)
#end_full_data = pd.concat([data, end_10000_data],axis=1)
#end_full_data.to_csv('end_data.csv')
end_10000_data.to_csv('end_mvm_data.csv')

In [ ]:
knn = pd.read_csv('/content/drive/MyDrive/DF_2022_KNN.csv')

In [ ]:
pre_full_data = pd.concat([knn, pre_10000_data],axis=1)
main_full_data = pd.concat([knn, main_10000_data],axis=1)
end_full_data = pd.concat([knn, end_10000_data],axis=1)

In [ ]:
pre_full_data.to_csv('pre_full_data.csv')
main_full_data.to_csv('main_full_data.csv')
end_full_data.to_csv('end_full_data.csv')