<a href="https://colab.research.google.com/github/sooonsyk/ESAA/blob/main/Week5_HW_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**datetime 오브젝트**
- datetime 라이브러리 : 날짜와 시간을 처리하는 등의 다양한 기능을 제공, 날짜를 처리하는 date 오브젝트, 시간을 처리하는 time 오브젝트, 날짜와 시간을 모두 처리하는 datetime 오브젝트가 포함되어 있음

In [1]:
from datetime import datetime

#now, today 메서드를 사용하면 현재 시간 출력할 수 있음
now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2022-04-10 04:58:02.759286
2022-04-10 04:58:02.759964

In [2]:
#datetime 오브젝트를 생성할 때 시간을 직접 입력하여 인자로 전달
t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)

print(t1)  # now 메서드는 밀리초 단위까지 구함
print(t2)
print(t3)

2022-04-10 04:59:13.384418
1970-01-01 00:00:00
1970-12-12 13:24:34

In [3]:
#시간 계산 할 수 있음
diff1 = t1- t2
print(diff1)
print(type(diff1))

diff2 = t2 - t1
print(diff2)
print(type(diff2))

19092 days, 4:59:13.384418
<class 'datetime.timedelta'>
-19093 days, 19:00:46.615582
<class 'datetime.timedelta'>

##**사례별 시계열 데이터 계산하기**

- 테슬라 주식 데이터로 시간 계산하기

In [4]:
pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)

In [8]:
#get_data_quanal 메서드에 TSLA라는 문자열을 전달하여 테슬라의 주식 데이터를 내려받은 다음 to_csv 메서드를 사용하여 data 폴더 안에 'tesla_stock_quandl.csv'라는 이름으로 저장
import pandas as pd

pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

#tesla에는 데이터 프레임이 저장됨
tesla = pdr.get_data_quandl('TSLA', api_key = 'SaDdbndBExZsDoDHAPDy')  #https://data.nasdaq.com/ 가입해서 접속 api_key를 생성하여 받은 키에 입력

#tesla에 저장된 데이터프레임을 파일로 저장함
tesla.to_csv('tesla_stock_quandl.csv')

In [9]:
print(tesla.head())
#tesla 데이터프레임의 Date열은 문자열로 저장돼있음 - datetime 오브젝트로 자료형을 변환해야 시간 계산 할 수 있음

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [12]:
#Date열을 datetime 형으로 변환하려면 read_csv 메서드로 데이터 집합을 불러올 때 parse_dates 인자에 Date열을 전달하면 됨
tesla = pd.read_csv('tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        241 non-null    datetime64[ns]
 1   Open        241 non-null    float64
 2   High        241 non-null    float64
 3   Low         241 non-null    float64
 4   Close       241 non-null    float64
 5   Volume      241 non-null    float64
 6   ExDividend  241 non-null    float64
 7   SplitRatio  241 non-null    float64
 8   AdjOpen     241 non-null    float64
 9   AdjHigh     241 non-null    float64
 10  AdjLow      241 non-null    float64
 11  AdjClose    241 non-null    float64
 12  AdjVolume   241 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 24.6 KB
None

In [13]:
#dt 접근자 사용 가능
print(tesla.loc[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, ExDividend, SplitRatio, AdjOpen, AdjHigh, AdjLow, AdjClose, AdjVolume]
Index: []

###**datetime 오브젝트와 인덱스 - DatetimeIndex**
- datetime 오브젝트를 데이터 프레임의 인덱스로 설정하면 원하는 시간의 데이터를 바로 추출할 수 있음

In [14]:
#Date열을 인덱스로 지정
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-04-25', '2017-04-24', '2017-04-21', '2017-04-20',
               '2017-04-19', '2017-04-18', '2017-04-17', '2017-04-13',
               '2017-04-12', '2017-04-11'],
              dtype='datetime64[ns]', name='Date', length=241, freq=None)

In [16]:
#원하는 시간의 데이터 바로 추출 가능
print(tesla['2017'].iloc[:5, :5])

                 Date    Open      High     Low   Close
Date
2017-12-29 2017-12-29  316.18  316.4100  310.00  311.35
2017-12-28 2017-12-28  311.75  315.8200  309.54  315.36
2017-12-27 2017-12-27  316.00  317.6800  310.75  311.64
2017-12-26 2017-12-26  323.83  323.9400  316.58  317.29
2017-12-22 2017-12-22  329.51  330.9214  324.82  325.20

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

In [19]:
print(tesla['2017-06'].iloc[:5,:5])

                 Date    Open      High       Low   Close
Date
2017-06-30 2017-06-30  363.71  366.7674  359.6187  361.61
2017-06-29 2017-06-29  370.61  371.0000  354.1000  360.75
2017-06-28 2017-06-28  366.68  371.7400  362.5200  371.24
2017-06-27 2017-06-27  376.40  376.4000  362.0200  362.37
2017-06-26 2017-06-26  386.69  386.9500  373.1000  377.49

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

###**시간 간격과 인덱스 TimedeltaIndex**
- 시간간격을 인덱스로 지정 - 주식 데이터에서 최초 5일간 수집된 데이터만 살펴보고 싶은 경우

In [20]:
#Date열에서 Date열의 최솟값을 빼면 데이터를 수집한 이후에 시간이 얼마나 흘렀는지 알 수 있음
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head)

<bound method NDFrame.head of                  Date    Open      High     Low   Close      Volume  \
Date
2018-03-27 2018-03-27  304.00  304.2700  277.18  279.18  13696168.0
2018-03-26 2018-03-26  307.34  307.5900  291.36  304.18   8324639.0
2018-03-23 2018-03-23  311.25  311.6100  300.45  301.54   6600538.0
2018-03-22 2018-03-22  313.89  318.8200  308.18  309.10   4914307.0
2018-03-21 2018-03-21  310.25  322.4400  310.19  316.53   5927881.0
...               ...     ...       ...     ...     ...         ...
2017-04-18 2017-04-18  299.70  300.8399  297.90  300.25   3035698.0
2017-04-17 2017-04-17  302.70  304.0000  298.68  301.44   4138736.0
2017-04-13 2017-04-13  296.70  307.3900  295.30  304.00   9284634.0
2017-04-12 2017-04-12  306.34  308.4481  296.32  296.84   6050682.0
2017-04-11 2017-04-11  313.38  313.4700  305.50  308.71   5724577.0

            ExDividend  SplitRatio  AdjOpen   AdjHigh  AdjLow  AdjClose  \
Date
2018-03-27         0.0         1.0   304.00  304.2700  277.18    279.18
2018-03-26         0.0         1.0   307.34  307.5900  291.36    304.18
2018-03-23         0.0         1.0   311.25  311.6100  300.45    301.54
2018-03-22         0.0         1.0   313.89  318.8200  308.18    309.10
2018-03-21         0.0         1.0   310.25  322.4400  310.19    316.53
...                ...         ...      ...       ...     ...       ...
2017-04-18         0.0         1.0   299.70  300.8399  297.90    300.25
2017-04-17         0.0         1.0   302.70  304.0000  298.68    301.44
2017-04-13         0.0         1.0   296.70  307.3900  295.30    304.00
2017-04-12         0.0         1.0   306.34  308.4481  296.32    296.84
2017-04-11         0.0         1.0   313.38  313.4700  305.50    308.71

             AdjVolume ref_date
Date
2018-03-27  13696168.0 350 days
2018-03-26   8324639.0 349 days
2018-03-23   6600538.0 346 days
2018-03-22   4914307.0 345 days
2018-03-21   5927881.0 344 days
...                ...      ...
2017-04-18   3035698.0   7 days
2017-04-17   4138736.0   6 days
2017-04-13   9284634.0   2 days
2017-04-12   6050682.0   1 days
2017-04-11   5724577.0   0 days

[241 rows x 14 columns]>

In [21]:
#ref_date열을 인덱스로 지정
tesla.index = tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
350 days 2018-03-27  304.00  304.27  277.18  279.18
349 days 2018-03-26  307.34  307.59  291.36  304.18
346 days 2018-03-23  311.25  311.61  300.45  301.54
345 days 2018-03-22  313.89  318.82  308.18  309.10
344 days 2018-03-21  310.25  322.44  310.19  316.53

In [22]:
#최초 5일
print(tesla['5 days':].iloc[:5,:5])

               Date    Open      High     Low   Close
ref_date
2 days   2017-04-13  296.70  307.3900  295.30  304.00
1 days   2017-04-12  306.34  308.4481  296.32  296.84
0 days   2017-04-11  313.38  313.4700  305.50  308.71

###**시간 범위와 인덱스**
- 특정 일에 누락된 데이터도 포함시켜 데이터를 살펴보려면 임의로 시간 범위를 생성하여 인덱스로 지정해야 함

In [28]:
import pandas as pd

ebola = pd.read_csv('country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5, :5])
#2015-01-01 누락

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [29]:
print(ebola.iloc[-5:,:5])
#2014-03-23 누락

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [31]:
#date_range 메서드 사용해서 시간 인덱스 생성
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [32]:
#원본 데이터 손상 막기 위해 ebola 데이터프레임 앞쪽 5개의 데이터 추출하여 새로운 데이터 프레임 만듦
#이때 Date열을 인덱스로 먼저 지정하지 않으면 오류 발생
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0